.box .property-container{
    background-color: white;
    padding: 10px;
    margin: 10px -5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

.property-container img{
    height: 150px;
}

.mail::before{
    content: '\1F4E7';
}

.phone::before{
    content: '\260E';
}

.mail, .phone{
    text-decoration: none;
    color: #1b6f7c;
    font-size: 12px;
}

.type{
    font-weight: bold;
    font-size: 16px;
}

.type a{
    text-decoration: none;
    color: #042b31;
    cursor: pointer;
}

.add{
    font-size: 13px;
}

.naira::before{
    content: '\20A6';
}

.price{
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 5px;
    background-color: #f3f3f3;
    color: rgb(146, 33, 33);
    border: 1px solid #999;
    font-weight: bold;
}

.sold{
    font-size: 13px;
}